body {
	color: #f9feff;
	background-color: #3fd7f5;
}

#header {
	background-color: grey;
}

.jumbotron {
	color: #3fd7f5;
	background-color: #f9feff;
}

#log-out {
	margin-top: 10px;
}

#profile-box {
	height: 125px;
}


#home-button {
	color: white;
}