body {
	color: #f9feff;
	background-color: #3fd7f5;
}

#header {
	background-color: grey;
}

.jumbotron {
	color: #3fd7f5;
	background-color: #f9feff;
}

#log-out {
	margin-top: 10px;
}

#profile-box {
	height: 100px;
	width: 90px;
	border: solid black 1px;
	padding: 7px;
}

#home-button {
	color: white;
}

#map {
	margin: 5px;
	height: 300px;
}